body {
  background-color: #cff1ef

}

hr {
  background-color: #204051
}

hr {
  border-style: none;
}

hr {
  height: 2px
}

hr {
  width: 15%
}

h1 {
  color: #3b6978;
    text-align: center;
font-family: 'Merriweather', serif;
}

h2 {
  color: #3b6978;
    text-align: center;
font-family: 'Merriweather', serif;
}

h3 {
  color: #3b6978;
  text-align: center;
  font-family: 'Merriweather', serif;
}


p {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  font-family: 'Montserrat', sans-serif;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.td {
  margin-left: auto;
  margin-right: auto;
}
.Name {
  text-align: center;
  display: inline-block;
  position: absolute;
top: 5%;
left: 42%
}
.Work{
  text-align: center;
  display: inline-block;
  position: absolute;
top: 13%;
left: 44%
}
